<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Рецепты</title>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>
<body>

<div th:replace="fragments/header :: navbar"></div>
<div class="content">
    <h1>Welcome to the World of Recipes</h1>
    <p>Recipes is a modern online recipe book where users can share culinary masterpieces, look for cooking inspiration, and chat with other chefs. The site was created to simplify the search and exchange of proven recipes, as well as to create an active community of cooking enthusiasts.</p>
</div>
</body>
</html>

