<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Add a recipe</title>
    <link rel="stylesheet" href="/css/recipes.css">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <h1>Add new recipe</h1>

    <form action="/my-recipes/new" method="post">
        <label for="title">Name:</label>
        <input type="text" id="title" name="title" required>

        <label for="description">Description:</label>
        <textarea id="description" name="description" required></textarea>

        <label for="ingredients">ingredients:</label>
        <textarea id="ingredients" name="ingredients" required></textarea>

        <label for="imageUrl">URL image:</label>
        <input type="text" id="imageUrl" name="imageUrl">

        <label for="category.id">Category:</label>
        <select id="category.id" name="category.id" required>
            <option value="">Select category</option>
            <th:block th:each="category : ${categories}">
                <option th:value="${category.id}" th:text="${category.name}"></option>
            </th:block>
        </select>


        <button type="submit">Save</button>
    </form>

</div>

</body>
</html>
