<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>All recipes</title>
    <link rel="stylesheet" href="/css/recipes.css">
</head>
<body>
<div th:replace="fragments/header :: navbar"></div>

<div class="container">
    <h1>All recipes</h1>

    <form method="get" action="/recipes" class="search-form">
        <label for="ingredient">Search by ingredients:</label>
        <input type="text" id="ingredient" name="ingredient"
               th:value="${paramIngredient}" placeholder="Enter ingredient"/>

        <label for="category">Filter by categories:</label>
        <select id="category" name="category">
            <option value="" th:selected="${paramCategory == null or paramCategory.isEmpty()}">All categories</option>
            <option th:each="cat : ${categories}"
                    th:value="${cat.name}"
                    th:text="${cat.name}"
                    th:selected="${cat.name == paramCategory}">
            </option>
        </select>

        <button type="submit">Search</button>
    </form>

    <div class="recipe-grid">
        <div th:each="recipe : ${recipes}" style="border: 1px solid #ddd; padding: 20px; margin-bottom: 20px; border-radius: 10px; display: flex; align-items: center; gap: 20px; background-color: #f9f9f9; transition: transform 0.2s ease;  text-align: center; flex-direction: column;">
            <p class="author-name">Author: <span th:text="${recipe.author.username}">Name</span></p>

            <a th:href="@{'/recipes/' + ${recipe.id}}">
                <img th:src="${recipe.imageUrl}" alt="Recipe photo" style="width:100%; max-height:200px; object-fit:cover; border-radius:8px;"/>
                <h3 th:text="${recipe.title}" style="text-align:center; margin-top:10px;">Name</h3>
            </a>
        </div>
    </div>
</div>

</body>
</html>
